<!DOCTYPE html>
<html ng-app="ParksApp">
<head>
  <title>ParkDash</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/main.js"></script>
  <script src="js/parks_controller.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to ParkDash</h1>
  <div ng-controller="ParksController as parks">
    <ul>
      <li ng-repeat="park in parks.all track by $index">
        <p ng-click="parks.show(park)">{{park.name}}</p>
      </li>
    </ul>
     <ng-switch on="parks.isSelected()">
     <div ng-switch-when="true">
      <h2>The deets</h2>
       {{parks.selected.state}}
      <br>
       {{parks.selected.established}}
      <br>
       {{parks.selected.headline}}
      <br>
       {{parks.selected.bio}}
      <br>
      <script id="images" type="text/x-handlebars-template">
      <img {{bind-attr src="parks.selected.images[0]"}}>
      <br>
       <img {{bind-attr src="parks.selected.images[1]"}}>
      <br>
       <img {{bind-attr src="parks.selected.images[2]"}}>
      </script>
     </div>
    </ng-switch>
  </div>
    
  </div>
</body>
</html>