<!DOCTYPE html>
<html ng-app="ParksApp">
<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <title>ParkDash</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/main.js"></script>
  <script src="js/parks_controller.js"></script>
  <script src="js/park.js"></script>
  <script src="js/cycle.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="parkdash-logo">
      <h1>ParkDash</h1>
    </div>
  </header>
  <div class="grid" ng-controller="ParksController as parks">
    <div class="sidebar">
      <ul>
        <li ng-repeat="park in parks.all track by $index">
        <p ng-click="parks.show(park); parks.initMap(); parks.showInsta()">{{park.name}}</p>
        </li>
      </ul>
    </div>
    <div class="main">
      <ng-switch on="parks.isSelected()">
       <div ng-switch-when="true">        
        <h2>{{parks.selected.name}}</h2>
        <br>
         {{parks.selected.state}}
        <br>
         {{parks.selected.established}}
        <br>
         {{parks.selected.headline}}
        <br>
         {{parks.selected.bio}}
        <br>
         {{parks.selected.comments[0].first_name}} {{parks.selected.comments[0].last_name}}
        <br>
          {{parks.selected.comments[0].comment}}
        <br>
        <div class="slideshow">
        <h2 class="park-name">{{parks.selected.name}}</h2>
          <img class="bgM" src="{{parks.selected.images[0]}}"}}>
          <br>
          <img class="bgM" src="{{parks.selected.images[1]}}"}}>
          <br>
          <img class="bgM" src="{{parks.selected.images[2]}}"}}>
        </div>
        <div id="map"></div>
        <div id="instagram-div"></div>
      </div>
      </ng-switch>
    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDabLO9WhXWJ5fRl9LiNFoo4uE5fLQe51I"
    async defer></script>
  <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>'
</body>
</html>