<!DOCTYPE html>
<html ng-app="ParksApp">
<head>
  <title>ParkDash</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/main.js"></script>
  <script src="js/parks_controller.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="parkdash-logo">
      <h1>ParkDash</h1>
    </div>
  </header>
  <div ng-controller="ParksController as parks">
    <ul>
      <li ng-repeat="park in parks.all track by $index">
      <p ng-click="parks.show(park)">{{park.name}}</p>
      </li>
    </ul>
    <ng-switch on="parks.isSelected()">
     <div ng-switch-when="true">
      <h2>The deets</h2>
        {{parks.selected.name}}
        <br>
         {{parks.selected.state}}
        <br>
         {{parks.selected.established}}
        <br>
         {{parks.selected.headline}}
        <br>
         {{parks.selected.bio}}
        <br>
         {{parks.selected.comments[0].first_name}} {{parks.selected.comments[0].last_name}}
        <br>
          {{parks.selected.comments[0].comment}}
        <br>
        <img class="park-photo" src="{{parks.selected.images[0]}}"}}>
        <br>
        <img class="park-photo" src="{{parks.selected.images[1]}}"}}>
        <br>
        <img class="park-photo" src="{{parks.selected.images[2]}}"}}>
    <div id="map">
    </div>
    </ng-switch>
    </div>
  </div>
</body>
</html>