<!DOCTYPE html>
<html>
<head>
  <title>ParkDash</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/main.js"></script>
  <script src="js/parks_controller.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Welcome to (Park Name)</h1>
</body>
</html>