body { 
  background-color: white;
  font-family:'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.instagram-div {
  width: 300px;
  height: auto;
}

.slideshow, img.slide {
  height: 500px;
  width:  750px;
}

img.slide{
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
}

#map {
  width: 400px;
  height: 300px;
  display: block;
}

#logo {
  font-family:'Righteous', cursive;
  color: black;
}

.dropdown-menu {
  padding: 10px;
  color: black;
}

#dropdown-btn{
  cursor: pointer;
}

.dropdown-choice:hover {
  color: #86b300;
  cursor: pointer;
}

.park-name {
  text-align: center;
  margin: 0 auto;
}

.park-name h2 {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 30px;
}

.park-details {
  margin-left: 40px;
}

.header {
  margin-left: 40px;
}

.comment {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}


