body { 
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  background-color: white;
  font-family: helvetica;
  width: 100%;
  padding: 30px;
}

header {
  background-color: black;
  height: 100px;
}

.park-photo {
  width: 400px;
  height: auto;
}

h1 {
  color: white;
}

#map {
  width: 500px;
  height: 400px;
  background-color: #CCC;
}