/*body { 
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 400px;
}

.main {
  background-color: white;
  font-family: helvetica;
  width: 100%;
  padding: 30px;
}

header {
  background-color: black;
  height: 100px;
}

.park-photo {
  width: 400px;
  height: auto;
}

h1 {
  color: white;
}



